body {
    font-family: "Sawarabi Gothic", sans-serif;
}

li {
    list-style: none;
}

.btn-success {
    background: rgb(0, 193, 161);
    border: rgb(0, 193, 161);
}

.btn-success:hover {
    background: rgb(0, 158, 132);
    border: rgb(0, 158, 132);
}

.page-link {
    color: rgb(0, 193, 161);
}

.page-item.active .page-link {
    background: rgb(0, 193, 161);
    border: rgb(0, 193, 161);
}

.review-score {
    color: rgb(0, 193, 161);
}

.review-score:focus {
    color: rgb(0, 193, 161);
}

.link-success {
    color: rgb(0, 193, 161);
}

.link-gray {
    color: #777;
}
